<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Agregar Personas</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<br><br>
    <div class="container">
        <div class="row">
            <div
                class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card"><br>
                <h1 class="text-center">Agregar Personas</h1><br><br>
                <div class="card-body">

                    <form th:if="${peticion != null}" th:action="@{'/guardarCantPersonas/' + ${peticion.idPeticion}}" method="POST">

                        <label for="cantPersonas">Cantidad de personas a agregar:</label>
                        <select id="cantPersonas" name="cantPersonas" >
                            <!-- Opciones del 0 al 6 -->
                            <option th:each="i : ${#numbers.sequence(1, 2)}" th:value="${i}" th:text="${i}"></option>
                        </select><br><br>

                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                        <br><br>
                        <label>El costo por persona adicional sube $100.000</label>

                    </form>

                </div>

            </div>
        </div>
    </div>

</body>
</html>